h1 {
	font-size: 24px;
<<<<<<< HEAD
	colour: #38B2AC;
=======
	color: #38B2AC;
>>>>>>> webpage
     }
     
h2 {
	font-size: 21px;
<<<<<<< HEAD
	colour: #5A67D8;
=======
	color: #5A67D8;
>>>>>>> webpage
     }	
    
p {
	font-size: 18px;
    }
